.mdc-dialog__container {

  width: 100%;
  max-width: 100%;

}

.mdc-dialog__surface {

}

.mdc-dialog__content {

  width: 100%;
  max-width: 100%;

}

#d-welcome {

  width: 100%;
  max-width: 100%;

}
