.mdc-dialog__container {

  width: 100%;
  max-width: 100%;
  margin-top: -52px;

  .mdc-dialog__surface {

    background: var(--surface);
    color: var(--text-hint-on-background);
    width: 100vw;
    max-width: 100vw;
    height: calc(100vh - 48px);

  }

}

.mdc-dialog__content {

  //width: 100%;
  //max-width: 100%;

}

#d-welcome {

  //width: 100%;
  //max-width: 100%;

}
