
#colour-picker {

  width:0px;
  height:0px;
  z-index:5;
  opacity:0.15;

}

// NON SPECIFIC, REMOVE IF MORE THAN ONE COLOUR PICKER LIKE INTERFACE

body > div.mdc-menu-surface.mdc-menu.mdc-select__menu {

  box-shadow:none;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  padding-top:10px;
  margin-top:22px;
  background:var(--material-color-black-700);
  background:var(--secondary);

}

.mdc-select {
  z-index:5;
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected:after, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected:before {
  background-color:white !important;
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected:after, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected:before {
  background-color: white !important;
}
