
.mdc-drawer {

  color: var(--on-secondary);
  background-color: var(--surface) !important;

}


section {
  #drawer-container {
    height: 100%;
    display: block;
    margin-top: var(--header-height);
  }
}

#drawer-container {
    position: relative;
    overflow: hidden;
    z-index: 3;
    margin-left: -9px;
    height: 100%;
    padding-bottom: 4vh;
    border: 1px solid rgba(0, 0, 0, .1);
    pointer-events: none;
    //background-color: var(--surface);


    > aside {

        margin-top: -1px;
        pointer-events:all;

        & .drag {

            * {
            pointer-events:none;
            }

        }

    }

}

#drawer-resize-control {
  user-select: none;
  position: absolute;
  right: 0;
  width: 6px;
  z-index: 4;
  height: 100%;
  cursor: w-resize;

  &.__debug {
    background: rgba(255,255,255,0.15);
  }

  &:hover {
    transition: all 200ms;
    background: rgba(255,255,255,0.05);
  }
}

.drawer-extend-0 {
    min-width:58px !important;
    max-width:58px !important;

}

.drawer-extend-1 {

}

.drawer-extend-2 {
    width:50% !important;
    max-width:50% !important;
}


svelte-virtual-list-contents {

    margin-top:var(--header-height);

}


* :global(.mdc-drawer--modal, .mdc-drawer-scrim) {
    /* This is not needed for a page-wide modal. */
    position: absolute;
}
* :global(.app-content) {
    flex: auto;
    overflow: auto;
    position: relative;
    flex-grow: 1;



}
.main-content {
    overflow: auto;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
}
