
header {
  background: transparent;

  .mdc-top-app-bar {
    background: transparent;
  }
}

.mdc-top-app-bar {

  div:nth-child(1) {

    button {
      color: var(--header-icon-color);
    }

    button:nth-of-type(2), button:nth-of-type(3) {
      font-size: 1.3rem;
    }

    background: var(--primary);

  }

  div:nth-child(2) {

    button {
      color: var(--header-icon-color);
    }

    background: var(--secondary);

  }

}
