@import '../css/abstracts/mixins/__fluidType.scss';
#welcome-screen {
	@include fluid-type($min_width, 720px, $min_font, $max_font);
	width: 100%;
	& a {
		width: 100%;
		text-align: center;
	}
	li, p {
		text-align: center;
		font-family: monospace;
		margin: 0 auto;
	}
}

copy {
	font-family: monospace;
	text-align: center;
	display: block;
	margin: 0 auto;
	img {
		width: 40px;
	}
}
#slider-title {

  font-family: monospace;
		@include fluid-type($min_width, 720px, $min_font, $max_font*1.35);
}

.mdc-dialog__container {
	.mdc-dialog__surface {
		background: var(--theme-background);
		color: var(--theme-primary);
	}
	i {
		cursor: pointer;
		display: inline-block;
		margin: 0 auto;
		// width:49%;
		padding: 0;
		text-align: center;
		clear: both;
		&.large {
			font-size: 5rem;
			color: var(--theme-link-color);
		}
		color: var(--theme-link-color);
	}
	section {
		float: left;
		text-align: center
	}
	section li {
		cursor: pointer;
		display: inline-block;
		margin: 0 auto;
		width: 49%;
		min-height: 148px;
		padding: 0;
		text-align: center;
		padding: 1rem;
		a {
			line-height: 7rem;
		}
		&:hover {
			outline: 1px solid rgba(255, 255, 255, 0.25);
		}
		&:active {
			outline: 1px solid rgba(255, 255, 255, 0.05);
		}
	}
}
