$colour-vars: (
  --material-color-red-50:$material-color-red-50,
  --material-color-red-100:$material-color-red-100,
  --material-color-red-200:$material-color-red-200,
  --material-color-red-300:$material-color-red-300,
  --material-color-red-400:$material-color-red-400,
  --material-color-red-500:$material-color-red-500,
  --material-color-red-600:$material-color-red-600,
  --material-color-red-700:$material-color-red-700,
  --material-color-red-800:$material-color-red-800,
  --material-color-red-900:$material-color-red-900,
  --material-color-red-a100:$material-color-red-a100,
  --material-color-red-a200:$material-color-red-a200,
  --material-color-red-a400:$material-color-red-a400,
  --material-color-red-a700:$material-color-red-a700,
  --material-color-pink-50:$material-color-pink-50,
  --material-color-pink-100:$material-color-pink-100,
  --material-color-pink-200:$material-color-pink-200,
  --material-color-pink-300:$material-color-pink-300,
  --material-color-pink-400:$material-color-pink-400,
  --material-color-pink-500:$material-color-pink-500,
  --material-color-pink-600:$material-color-pink-600,
  --material-color-pink-700:$material-color-pink-700,
  --material-color-pink-800:$material-color-pink-800,
  --material-color-pink-900:$material-color-pink-900,
  --material-color-pink-a100:$material-color-pink-a100,
  --material-color-pink-a200:$material-color-pink-a200,
  --material-color-pink-a400:$material-color-pink-a400,
  --material-color-pink-a700:$material-color-pink-a700,
  --material-color-purple-50:$material-color-purple-50,
  --material-color-purple-100:$material-color-purple-100,
  --material-color-purple-200:$material-color-purple-200,
  --material-color-purple-300:$material-color-purple-300,
  --material-color-purple-400:$material-color-purple-400,
  --material-color-purple-500:$material-color-purple-500,
  --material-color-purple-600:$material-color-purple-600,
  --material-color-purple-700:$material-color-purple-700,
  --material-color-purple-800:$material-color-purple-800,
  --material-color-purple-900:$material-color-purple-900,
  --material-color-purple-a100:$material-color-purple-a100,
  --material-color-purple-a200:$material-color-purple-a200,
  --material-color-purple-a400:$material-color-purple-a400,
  --material-color-purple-a700:$material-color-purple-a700,
  --material-color-deep-purple-50:$material-color-deep-purple-50,
  --material-color-deep-purple-100:$material-color-deep-purple-100,
  --material-color-deep-purple-200:$material-color-deep-purple-200,
  --material-color-deep-purple-300:$material-color-deep-purple-300,
  --material-color-deep-purple-400:$material-color-deep-purple-400,
  --material-color-deep-purple-500:$material-color-deep-purple-500,
  --material-color-deep-purple-600:$material-color-deep-purple-600,
  --material-color-deep-purple-700:$material-color-deep-purple-700,
  --material-color-deep-purple-800:$material-color-deep-purple-800,
  --material-color-deep-purple-900:$material-color-deep-purple-900,
  --material-color-deep-purple-a100:$material-color-deep-purple-a100,
  --material-color-deep-purple-a200:$material-color-deep-purple-a200,
  --material-color-deep-purple-a400:$material-color-deep-purple-a400,
  --material-color-deep-purple-a700:$material-color-deep-purple-a700,
  --material-color-indigo-50:$material-color-indigo-50,
  --material-color-indigo-100:$material-color-indigo-100,
  --material-color-indigo-200:$material-color-indigo-200,
  --material-color-indigo-300:$material-color-indigo-300,
  --material-color-indigo-400:$material-color-indigo-400,
  --material-color-indigo-500:$material-color-indigo-500,
  --material-color-indigo-600:$material-color-indigo-600,
  --material-color-indigo-700:$material-color-indigo-700,
  --material-color-indigo-800:$material-color-indigo-800,
  --material-color-indigo-900:$material-color-indigo-900,
  --material-color-indigo-a100:$material-color-indigo-a100,
  --material-color-indigo-a200:$material-color-indigo-a200,
  --material-color-indigo-a400:$material-color-indigo-a400,
  --material-color-indigo-a700:$material-color-indigo-a700,
  --material-color-blue-50:$material-color-blue-50,
  --material-color-blue-100:$material-color-blue-100,
  --material-color-blue-200:$material-color-blue-200,
  --material-color-blue-300:$material-color-blue-300,
  --material-color-blue-400:$material-color-blue-400,
  --material-color-blue-500:$material-color-blue-500,
  --material-color-blue-600:$material-color-blue-600,
  --material-color-blue-700:$material-color-blue-700,
  --material-color-blue-800:$material-color-blue-800,
  --material-color-blue-900:$material-color-blue-900,
  --material-color-blue-a100:$material-color-blue-a100,
  --material-color-blue-a200:$material-color-blue-a200,
  --material-color-blue-a400:$material-color-blue-a400,
  --material-color-blue-a700:$material-color-blue-a700,
  --material-color-light-blue-50:$material-color-light-blue-50,
  --material-color-light-blue-100:$material-color-light-blue-100,
  --material-color-light-blue-200:$material-color-light-blue-200,
  --material-color-light-blue-300:$material-color-light-blue-300,
  --material-color-light-blue-400:$material-color-light-blue-400,
  --material-color-light-blue-500:$material-color-light-blue-500,
  --material-color-light-blue-600:$material-color-light-blue-600,
  --material-color-light-blue-700:$material-color-light-blue-700,
  --material-color-light-blue-800:$material-color-light-blue-800,
  --material-color-light-blue-900:$material-color-light-blue-900,
  --material-color-light-blue-a100:$material-color-light-blue-a100,
  --material-color-light-blue-a200:$material-color-light-blue-a200,
  --material-color-light-blue-a400:$material-color-light-blue-a400,
  --material-color-light-blue-a700:$material-color-light-blue-a700,
  --material-color-cyan-50:$material-color-cyan-50,
  --material-color-cyan-100:$material-color-cyan-100,
  --material-color-cyan-200:$material-color-cyan-200,
  --material-color-cyan-300:$material-color-cyan-300,
  --material-color-cyan-400:$material-color-cyan-400,
  --material-color-cyan-500:$material-color-cyan-500,
  --material-color-cyan-600:$material-color-cyan-600,
  --material-color-cyan-700:$material-color-cyan-700,
  --material-color-cyan-800:$material-color-cyan-800,
  --material-color-cyan-900:$material-color-cyan-900,
  --material-color-cyan-a100:$material-color-cyan-a100,
  --material-color-cyan-a200:$material-color-cyan-a200,
  --material-color-cyan-a400:$material-color-cyan-a400,
  --material-color-cyan-a700:$material-color-cyan-a700,
  --material-color-teal-50:$material-color-teal-50,
  --material-color-teal-100:$material-color-teal-100,
  --material-color-teal-200:$material-color-teal-200,
  --material-color-teal-300:$material-color-teal-300,
  --material-color-teal-400:$material-color-teal-400,
  --material-color-teal-500:$material-color-teal-500,
  --material-color-teal-600:$material-color-teal-600,
  --material-color-teal-700:$material-color-teal-700,
  --material-color-teal-800:$material-color-teal-800,
  --material-color-teal-900:$material-color-teal-900,
  --material-color-teal-a100:$material-color-teal-a100,
  --material-color-teal-a200:$material-color-teal-a200,
  --material-color-teal-a400:$material-color-teal-a400,
  --material-color-teal-a700:$material-color-teal-a700,
  --material-color-green-50:$material-color-green-50,
  --material-color-green-100:$material-color-green-100,
  --material-color-green-200:$material-color-green-200,
  --material-color-green-300:$material-color-green-300,
  --material-color-green-400:$material-color-green-400,
  --material-color-green-500:$material-color-green-500,
  --material-color-green-600:$material-color-green-600,
  --material-color-green-700:$material-color-green-700,
  --material-color-green-800:$material-color-green-800,
  --material-color-green-900:$material-color-green-900,
  --material-color-green-a100:$material-color-green-a100,
  --material-color-green-a200:$material-color-green-a200,
  --material-color-green-a400:$material-color-green-a400,
  --material-color-green-a700:$material-color-green-a700,
  --material-color-light-green-50:$material-color-light-green-50,
  --material-color-light-green-100:$material-color-light-green-100,
  --material-color-light-green-200:$material-color-light-green-200,
  --material-color-light-green-300:$material-color-light-green-300,
  --material-color-light-green-400:$material-color-light-green-400,
  --material-color-light-green-500:$material-color-light-green-500,
  --material-color-light-green-600:$material-color-light-green-600,
  --material-color-light-green-700:$material-color-light-green-700,
  --material-color-light-green-800:$material-color-light-green-800,
  --material-color-light-green-900:$material-color-light-green-900,
  --material-color-light-green-a100:$material-color-light-green-a100,
  --material-color-light-green-a200:$material-color-light-green-a200,
  --material-color-light-green-a400:$material-color-light-green-a400,
  --material-color-light-green-a700:$material-color-light-green-a700,
  --material-color-lime-50:$material-color-lime-50,
  --material-color-lime-100:$material-color-lime-100,
  --material-color-lime-200:$material-color-lime-200,
  --material-color-lime-300:$material-color-lime-300,
  --material-color-lime-400:$material-color-lime-400,
  --material-color-lime-500:$material-color-lime-500,
  --material-color-lime-600:$material-color-lime-600,
  --material-color-lime-700:$material-color-lime-700,
  --material-color-lime-800:$material-color-lime-800,
  --material-color-lime-900:$material-color-lime-900,
  --material-color-lime-a100:$material-color-lime-a100,
  --material-color-lime-a200:$material-color-lime-a200,
  --material-color-lime-a400:$material-color-lime-a400,
  --material-color-lime-a700:$material-color-lime-a700,
  --material-color-yellow-50:$material-color-yellow-50,
  --material-color-yellow-100:$material-color-yellow-100,
  --material-color-yellow-200:$material-color-yellow-200,
  --material-color-yellow-300:$material-color-yellow-300,
  --material-color-yellow-400:$material-color-yellow-400,
  --material-color-yellow-500:$material-color-yellow-500,
  --material-color-yellow-600:$material-color-yellow-600,
  --material-color-yellow-700:$material-color-yellow-700,
  --material-color-yellow-800:$material-color-yellow-800,
  --material-color-yellow-900:$material-color-yellow-900,
  --material-color-yellow-a100:$material-color-yellow-a100,
  --material-color-yellow-a200:$material-color-yellow-a200,
  --material-color-yellow-a400:$material-color-yellow-a400,
  --material-color-yellow-a700:$material-color-yellow-a700,
  --material-color-amber-50:$material-color-amber-50,
  --material-color-amber-100:$material-color-amber-100,
  --material-color-amber-200:$material-color-amber-200,
  --material-color-amber-300:$material-color-amber-300,
  --material-color-amber-400:$material-color-amber-400,
  --material-color-amber-500:$material-color-amber-500,
  --material-color-amber-600:$material-color-amber-600,
  --material-color-amber-700:$material-color-amber-700,
  --material-color-amber-800:$material-color-amber-800,
  --material-color-amber-900:$material-color-amber-900,
  --material-color-amber-a100:$material-color-amber-a100,
  --material-color-amber-a200:$material-color-amber-a200,
  --material-color-amber-a400:$material-color-amber-a400,
  --material-color-amber-a700:$material-color-amber-a700,
  --material-color-orange-50:$material-color-orange-50,
  --material-color-orange-100:$material-color-orange-100,
  --material-color-orange-200:$material-color-orange-200,
  --material-color-orange-300:$material-color-orange-300,
  --material-color-orange-400:$material-color-orange-400,
  --material-color-orange-500:$material-color-orange-500,
  --material-color-orange-600:$material-color-orange-600,
  --material-color-orange-700:$material-color-orange-700,
  --material-color-orange-800:$material-color-orange-800,
  --material-color-orange-900:$material-color-orange-900,
  --material-color-orange-a100:$material-color-orange-a100,
  --material-color-orange-a200:$material-color-orange-a200,
  --material-color-orange-a400:$material-color-orange-a400,
  --material-color-orange-a700:$material-color-orange-a700,
  --material-color-deep-orange-50:$material-color-deep-orange-50,
  --material-color-deep-orange-100:$material-color-deep-orange-100,
  --material-color-deep-orange-200:$material-color-deep-orange-200,
  --material-color-deep-orange-300:$material-color-deep-orange-300,
  --material-color-deep-orange-400:$material-color-deep-orange-400,
  --material-color-deep-orange-500:$material-color-deep-orange-500,
  --material-color-deep-orange-600:$material-color-deep-orange-600,
  --material-color-deep-orange-700:$material-color-deep-orange-700,
  --material-color-deep-orange-800:$material-color-deep-orange-800,
  --material-color-deep-orange-900:$material-color-deep-orange-900,
  --material-color-deep-orange-a100:$material-color-deep-orange-a100,
  --material-color-deep-orange-a200:$material-color-deep-orange-a200,
  --material-color-deep-orange-a400:$material-color-deep-orange-a400,
  --material-color-deep-orange-a700:$material-color-deep-orange-a700,
  --material-color-brown-50:$material-color-brown-50,
  --material-color-brown-100:$material-color-brown-100,
  --material-color-brown-200:$material-color-brown-200,
  --material-color-brown-300:$material-color-brown-300,
  --material-color-brown-400:$material-color-brown-400,
  --material-color-brown-500:$material-color-brown-500,
  --material-color-brown-600:$material-color-brown-600,
  --material-color-brown-700:$material-color-brown-700,
  --material-color-brown-800:$material-color-brown-800,
  --material-color-brown-900:$material-color-brown-900,
  --material-color-grey-50:$material-color-grey-50,
  --material-color-grey-100:$material-color-grey-100,
  --material-color-grey-200:$material-color-grey-200,
  --material-color-grey-300:$material-color-grey-300,
  --material-color-grey-400:$material-color-grey-400,
  --material-color-grey-500:$material-color-grey-500,
  --material-color-grey-600:$material-color-grey-600,
  --material-color-grey-700:$material-color-grey-700,
  --material-color-grey-800:$material-color-grey-800,
  --material-color-grey-900:$material-color-grey-900,
  --material-color-blue-grey-50:$material-color-blue-grey-50,
  --material-color-blue-grey-100:$material-color-blue-grey-100,
  --material-color-blue-grey-200:$material-color-blue-grey-200,
  --material-color-blue-grey-300:$material-color-blue-grey-300,
  --material-color-blue-grey-400:$material-color-blue-grey-400,
  --material-color-blue-grey-500:$material-color-blue-grey-500,
  --material-color-blue-grey-600:$material-color-blue-grey-600,
  --material-color-blue-grey-700:$material-color-blue-grey-700,
  --material-color-blue-grey-800:$material-color-blue-grey-800,
  --material-color-blue-grey-900:$material-color-blue-grey-900,
  --material-color-black-500:black,
  --material-color-black-300:$material-color-grey-900
);

$mdc-vars: (
  // Primary
  --primary: $mdc-theme-primary,
  // Secondary
  --secondary: $mdc-theme-secondary,
  // Background
  --background: $mdc-theme-background,
  // Surface
  --surface: $mdc-theme-surface,
  // Error
  --error: $mdc-theme-error,
  --on-primary: $mdc-theme-on-primary,
  --on-secondary: $mdc-theme-on-secondary,
  --on-surface: $mdc-theme-on-surface,
  --on-error: $mdc-theme-on-error,
  // Text-primary on "background" background
  --text-primary-on-background: mdc-theme-ink-color-for-fill_(primary, $mdc-theme-background),
  --text-secondary-on-background: mdc-theme-ink-color-for-fill_(secondary, $mdc-theme-background),
  --text-hint-on-background: mdc-theme-ink-color-for-fill_(hint, $mdc-theme-background),
  --text-disabled-on-background: mdc-theme-ink-color-for-fill_(disabled, $mdc-theme-background),
  --text-icon-on-background: mdc-theme-ink-color-for-fill_(icon, $mdc-theme-background),
  // Text-primary on "light" background
  --text-primary-on-light: mdc-theme-ink-color-for-fill_(primary, light),
  --text-secondary-on-light: mdc-theme-ink-color-for-fill_(secondary, light),
  --text-hint-on-light: mdc-theme-ink-color-for-fill_(hint, light),
  --text-disabled-on-light: mdc-theme-ink-color-for-fill_(disabled, light),
  --text-icon-on-light: mdc-theme-ink-color-for-fill_(icon, light),
  // Text-primary on "dark" background
  --text-primary-on-dark: mdc-theme-ink-color-for-fill_(primary, dark),
  --text-secondary-on-dark: mdc-theme-ink-color-for-fill_(secondary, dark),
  --text-hint-on-dark: mdc-theme-ink-color-for-fill_(hint, dark),
  --text-disabled-on-dark: mdc-theme-ink-color-for-fill_(disabled, dark),
  --text-icon-on-dark: mdc-theme-ink-color-for-fill_(icon, dark)
) !default;
