.wrap-content {
  white-space: normal !important;
}

.blur {
  filter: blur(0.2rem);
  -ms-filter: blur(0.2rem);
}

.draggable {
  cursor: 'ew-resize';
}

.hidden {
  display: none;
}



/** UNUSED **/
/*
html:not([data-scroll='0']) {
  body {
    padding-top: 3em;
  }
  header {
    position: fixed;
  }
  //@include scrollbars(0.5em, $mdc-theme-primary);
  .graph-container {
    margin-top: 0px;
  }
}

window.onscroll = (evt)=>{
  document.children[0].setAttribute('data-scroll',Math.round(window.scrollY));
};

*/
