
:global(app, body, html) {
  display: block !important;
  height: auto !important;
  width: auto !important;
  position: static !important;
}

#third-bar {
  //background:$mdc-theme-secondary;
}

#second-bar {
  border-bottom-right-radius: 1rem;
  //width:115px;
  width:155px;
}
