
@import "./theme/_smui-theme.scss";
@import "./theme/mixins.scss";

/*! CSS Used from: Embedded */
@media print{
  *,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/*! CSS Used from: Embedded */
*{-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
::-webkit-scrollbar{width:0.5em;height:0.5em;}
::-webkit-scrollbar-thumb{background:slategray;}
::-webkit-scrollbar-track{background:#b8c0c8;}


html, body {
  height:100%;

  padding: 0px;
  margin: 0px;

  overflow-y:hidden;
  color:white;
  font-family: Niramit;
}

html:not([data-scroll='0']) {
  body {
    padding-top: 3em;
  }
  header {
    position: fixed;
  }
  //@include scrollbars(0.5em, $mdc-theme-primary);
  .graph-container {
    margin-top: 0px;
  }
}

section {
  .drawer-container {
    height:100%;
    display:block;
  }
  height:100%;
  display:block;
}
.graph-container {

  width: 100%;
  height: 100%;
  display: block;
  //margin-top: 68px;
  margin-top: 112px;
  svg {

    width: 100%;
    height: 100%;
    display: block;
    display: block;
    margin: 0px auto;

  }


}

body > header > div:nth-child(2),
body > header:nth-child(6) > div:nth-child(2),
body > header:nth-child(7) > div:nth-child(2),
body > header:nth-child(5) > div:nth-child(2) {

//  background:$mdc-theme-secondary;

}

svelte-virtual-list-viewport {
  position:absolute !important;
  left:0px !important;
  top:170px !important;
  top:5px !important;
  z-index:12 !important;
  width:100%;
}

#code-view {
  position:fixed;
  top:96px;
  left:0px;
  width:100%;
  height:100%;
  z-index:2323;
  background:rgba(255,255,255,0.95);
}

#third-bar{
  background:$mdc-theme-secondary;
}
